// type

.btn {
  border-width: 1px;
  padding: 9px 32px 9px 32px;
  transition: $transition-base;
}

.btn-square {
  border-width: 1px;
  cursor: pointer;
  font-size: 24px;
  line-height: 1;
  padding: 9px;
  transition: $transition-base;
  user-select: none;
}

// color & hover

.btn-primary {
  &:hover{
    background-color: $tertiary;
    border-color: $tertiary;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: $primary;
    color: #fff;
  }
  &:focus{
    background-color: $primary;
    border-color: $tertiary;
    box-shadow: 0 0 0.1rem 0.2rem transparentize($primary, 0.3);
    outline: 0;
  }
  background-color: $primary;
  border-color: $primary;
  border-style: solid;
  color: #fff;
}

.btn-secondary {
  &:hover{
    background-color: $dark;
    border-color: $dark;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: $secondary;
    color: #fff;
  }
  &:focus{
    background-color: $secondary;
    border-color: $dark;
    box-shadow: 0 0 0.1rem 0.2rem transparentize($secondary, 0.3);
    outline: 0;
  }
  background-color: $secondary;
  border-color: $secondary;
  border-style: solid;
  color: #fff;
}

.btn-secondary-primary {
  &:hover{
    background-color: $primary;
    border-color: $primary;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: $secondary;
    color: #fff;
  }
  &:focus{
    background-color: $primary;
    border-color: $primary;
    box-shadow: 0 0 0.1rem 0.2rem transparentize($secondary, 0.3);
    outline: 0;
  }
  background-color: $secondary;
  border-color: $secondary;
  border-style: solid;
  color: #fff;
}

.btn-quaternary {
  &:hover{
    background-color: $tertiary;
    border-color: $tertiary;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: $quaternary;
  }
  &:focus{
    background-color: $quaternary;
    border-color: $tertiary;
    box-shadow: 0 0 0.1rem 0.2rem transparentize($quaternary, 0.6);
    outline: 0;
  }
  background-color: $quaternary;
  border-color: $quaternary;
  border-style: solid;
  color: #fff;
}

.btn-tertiary {
  &:hover{
    background-color: $quaternary;
    border-color: $quaternary;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: $tertiary;
  }
  &:focus{
    background-color: $tertiary;
    border-color: $quaternary;
    box-shadow: 0 0 0.1rem 0.2rem transparentize($tertiary, 0.3);
    outline: 0;
  }
  background-color: $tertiary;
  border-color: $tertiary;
  border-style: solid;
  font-weight: bold;
  color: #fff;
}

.btn-light {
  &:hover{
    background-color: $dark;
    border-color: $dark;
    color: #fff;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: $light;
    color: #fff;
  }
  &:focus{
    background-color: $light;
    border-color: $dark;
    color: #fff;
    box-shadow: 0 0 0.1rem 0.2rem transparentize($light, 0.3);
    outline: 0;
  }
  background-color: $light;
  border-color: $light;
  border-style: solid;
  color: #fff;
}

.btn-dark {
  &:hover{
    background-color: $secondary;
    border-color: $secondary;
    color: #fff;
  }
  &:not(:disabled):not(.disabled):active {
    background-color: $dark;
    color: #fff;
  }
  &:focus{
    background-color: $dark;
    border-color: $secondary;
    color: #fff;
    box-shadow: 0 0 0.1rem 0.2rem transparentize($dark, 0.3);
    outline: 0;
  }
  background-color: $dark;
  border-color: $dark;
  border-style: solid;
  color: #fff;
}

@each $name, $color in $theme-colors {
  .btn-outline-#{$name} {
    &:hover{
      background-color: $color;
    }
    &:not(:disabled):not(.disabled):active {
      background-color: $color;
      color: white;
    }
    &:focus{
      box-shadow: 0 0 0.1rem 0.2rem transparentize($color, 0.3);
      outline: 0;
    }
    &.active {
      &:not(:disabled):not(.disabled):active {
        background-color: $color;
        color: white;
      }
      &:not(:disabled):not(.disabled):focus {
        box-shadow: none;
      }
      background-color: $color;
      color: white;
    }
    background-color: transparent;
    border: 1px solid $color;
    color: $color;
  }
}

@each $name, $color in $theme-colors {
  .btn-outline-white-#{$name} {
    &:hover{
      background-color: white;
      color: $color;
    }
    &:not(:disabled):not(.disabled):active {
      background-color: transparent;
      color: #fff;
    }
    &:focus{
      background-color: white;
      box-shadow: 0 0 0.1rem 0.2rem transparentize($color, 0.3);
      color: $color;
      outline: 0;
    }
    border: 1px solid white;
    color: white;
  }
}
