.textarea-form-label {
  &::after {
    content: "(選填)";
    color: $danger;
  }
}

select {
  cursor: pointer;
}
select:invalid,
select option[value=""] {
  color: $light;
}
select, option {
  color: $secondary;
}