.carousel-indicators {
  li {
    border-radius: 999em;
    border: 1px solid #fff;
  }
  .active {
    background-color: $primary;
  }
}

.banner-sm-wrap {
  .banner-sm-btn {
    &:hover,&:active {
      background-position: 100% 0;
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(170, 134, 111, 0.5);
    }
    background: no-repeat 0% 0/200% 100% linear-gradient(90deg, $quaternary 0%, $link-hover-primary-color 50%, $quaternary 100%);
    border: 1px solid #fff;
    height: 44px;
    position: absolute;
    transition: $transition-base;
    top: 50%;
    right: 27px;
    margin-top: -22px;
  }
  img {
    width: 100%;
  }
  margin-top: 45px;
  position: relative;
}

.recommend-list-wrap {
  h2 {
    a {
      &:hover {
        color: $link-hover-primary-color;
      }
      color: $primary;
      transition: $transition-base;
    }
    a, >span{
      vertical-align: top;
    }
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  margin-top: 40px;
  text-align: left;
}